.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px 20px 0;
  color: white;
  position: relative;
  border-bottom: solid 6px #3f7382;
}

.App-intro {
  font-size: large;
}

nav {
    background: #3f7382;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    bottom: -20px;
}

nav a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background: #6b94a0;
    text-decoration: none;
    color: #222;
    margin: 2px;
    text-transform: uppercase;
    font-size: 11px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
