
form {
    text-align: left;
    padding: 20px;
    margin:20px;
}

.control-input,
.control-select,
.control-radio-checkbox {
    margin-bottom: 20px;
}
.control-radio-checkbox > label {
    margin-bottom: 10px;
}
.control-input label,
.control-select label {
    min-width: 100px;
}

.check-radio-label {
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 7px;
    font-size: 12px;
}

input[type=checkbox] {
    position: relative;
    top: -2px;
    left: -2px;
    display: inline-block;
    background: transparent;
    border: none;
}

input[type="checkbox"]:after {
    content: '';
    display: block;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    z-index: 100;
    background: #fff;
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid #ccc;
    cursor: pointer;
}

input[type="checkbox"]:checked:after {
    content: '\00a0\2713';
    color: green;

    vertical-align: super;
    font-weight: 700;
}

input[type="submit"],
button[type="submit"]  {
    border-radius: 20px;
    border: 1px solid #999;
    background: #a4bfc7;
    padding: 10px 10px;
    min-width: 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input {
    border-radius: 20px;
    border: 1px solid #999;
    background: #fff;
    padding: 8px 10px;
    display: inline-block;
}

.select-input select {
    background: transparent;
    border: none;
}

.select-input {
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #999;
    display: inline-block;
}
